<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcoOcean</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <link href="~/css/Cadastro.css" rel="stylesheet" type="text/css" />

</head>
<body>

    @model EcoOcean.Models.Area

    <form asp-controller="Area" asp-action="EditarArea" method="post">


        <div class="agrupamento">
            <h1 class="titulo">Editar Area</h1>
        </div>


        <div class="agrupamento-input">
            <input class="inputs" name="Cep" type="text" class="form-control" id="exampleInputPassword1" required placeholder="Cep" asp-for="Cep">
            <br />

            <input class="inputs" name="Estado" type="text" class="form-control" id="exampleInputPassword1" required placeholder="Estado" asp-for="Estado">
            <br>

            <input class="inputs" name="Cidade" type="text" class="form-control" id="exampleInputPassword1" required placeholder="Cidade" asp-for="Cidade">
            <br />

            <input class="inputs" name="Rua" type="text" class="form-control" id="exampleInputPassword1" required placeholder="Rua" asp-for="Rua">
            <br />

            <input class="inputs" name="Descricao" type="text" class="form-control" id="exampleInputPassword1" required placeholder="Descricao" asp-for="Descricao">
            <br />
 
   
            <input  type="hidden" name="Id" value="@Model.Id">
        </div>

        <div class="agrupamento-links">
            <button type="submit" class="btn btn-primary">Editar</button>
            <br />
            <br />
        </div>

    </form>
</body>
</html>
