<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inscreening</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <link href="~/css/PaginaInicial.css" rel="stylesheet" type="text/css" />
     <link href="~/css/Tabela.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="logo">
        <img src="~/css/imgs/Logo.png" alt="Logo">____
        <a class="btn" asp-area="" asp-controller="Administrador" asp-action="Home">Voltar</a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="titulo">Area</h1>

    <div class="agrupamento">
        <button class="item">
            <img src="~/css/imgs/Calendar Plus.png" alt="Eventos">
            <a class="button-text" asp-area="" asp-controller="Area" asp-action="CadastrarArea">Nova Area</a>
        </button>
        <br />
        <button class="item">
            <img src="~/css/imgs/Search Database.png" alt="Histórico">
            <a class="button-text"  asp-area="" asp-controller="Area" asp-action="ListaDeArea">Lista De Area</a>

        </button>
    </div>

   

</body>
</html>




