<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcoOcean</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <link href="~/css/Coleta.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <form asp-controller="Coleta" asp-action="EfetuarColeta" method="post">
    <div class="logo">
        <img src="~/css/imgs/Logo.png" alt="Logo">
    </div>
    <h1 class="titulo">Coleta</h1>
    <div class="agrupamento-input">

        <input class="inputs" type="text" id="volunteerId" name="volunteerId" placeholder="ID do Voluntário">
        <input class="inputs" type="text" id="weight" name="weight" placeholder="ID Evento">

        <p class="subtitulo">Informe a pesagem da coleta em kg:</p>

        <select >
                <option value="">Selecione o tipo do material</option>
                <option>Papel</option>
                <option>Metal</option>
                <option>Celular</option>
                <option>Areeia</option>
           
        </select>
        <br />
         <input class="inputs" type="text" id="weight" name="weight" placeholder="Selecione em KG a quantidade">
    </div>

    <br /><br />

    <div class="agrupamento-links">
        <button href="#" class="link-login">Registrar</button>
            
    </div>
    <br />
        <a class="link-login-2" asp-area="" asp-controller="Administrador" asp-action="Home">Voltar</a>
    </form>
</body>

</html>



