<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inscreening</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
     <link href="~/css/PaginaInicial.css" rel="stylesheet" type="text/css" />
     <style>
        .btnn {
            background-color: #030925;
            padding: 10px 20px;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
            border-radius: 10px;
            border: 2px dashed #02ac92;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            transition: .4s;
            text-decoration: none;
        }

     </style>
</head>
<body>
    <div class="logo">
        <img src="~/css/imgs/Logo.png" alt="Logo">
    </div>
    <h1 class="titulo">EcoOcean</h1>

    <div class="agrupamento">
        <button class="item">
            <img src="~/css/imgs/Vector.png" alt="Eventos">
            <a class="button-text" asp-area="" asp-controller="Eventos" asp-action="ListaDeEventos">Eventos</a>
        </button>
        <button class="item">
            <img src="~/css/imgs/Search Database.png" alt="Histórico">
            <a class="button-text"   asp-area="" asp-controller="Eventos" asp-action="ListaDeEventosEncerrados">Historico de Eventos</a>
        </button>
        <button class="item">
            <img src="~/css/imgs/Calendar Plus.png" alt="Novo Alerta">
           <a class="button-text" asp-area="" asp-controller="Eventos" asp-action="CadastrarEvento">Novo Evento</a>
        </button>
        <button class="item">
            <img src="~/css/imgs/Calendar Plus.png" alt="Novo Alerta">
            <a class="button-text" asp-area="" asp-controller="Area" asp-action="Home">Nova Area</a>
        </button>
        <button class="item">
            <img src="~/css/imgs/Recycle.png" alt="Coleta">
            <a class="button-text" asp-area="" asp-controller="Coleta" asp-action="Coleta">Coleta</a>
        </button>
            <a class="btnn" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
    </div>
</body>
</html>




