<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcoOcean</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inscreening.styles.css" asp-append-version="true" />
    <link href="~/css/Cadastro.css" rel="stylesheet" type="text/css" />
    
    <style>
        .box{
            margin-left:37%;
            padding:7px;
        }


        .btnn {
            background-color: #030925;
            padding: 10px 20px;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
            border-radius: 10px;
            border: 2px dashed #02ac92;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            transition: .4s;
            text-decoration:none;
        }

    </style>
</head>
<div class="logo">
    <img src="~/css/imgs/Logo.png" alt="Logo">____
    <a class="btnn" asp-area="" asp-controller="Administrador" asp-action="Home">Voltar</a>
</div>
<body>
   



    <form asp-controller="Eventos" asp-action="CadastroEvento" method="post">


        <input type="hidden" name="IdAdministrador" value="@ViewBag.IdAdministrador">

        <div class="agrupamento">
            <h1 class="titulo">Cadatro de Evento</h1>
        </div>

        <br />
        <div class="agrupamento-input">
            <br />

            <input name="NomeEvento" type="text" class="inputs" id="exampleInputEmail1" aria-describedby="emailHelp" required placeholder="Nome Do Evento">

        </div>

        <br /><br />
        
        <select name="AreaId" class="box">
            <option value="">Selecione um CEP para vincular seu evento</option>
            @foreach (var area in ViewBag.Areas)
            {
                <option value="@area.Id">@area.Cep</option>
            }
        </select>
        <br />
        <br />
  
        <div class="agrupamento-links">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <br />
            <br />
        </div>

    </form>
</body>
</html>
